{% extends 'base.html.twig' %}

{% block title %}User Registration{% endblock %}

{% block body %}
    <div class="container">
        <main>
            <div class="py-5 text-center mt-5">
                <h2>User Registration</h2>
                <p class="lead">Please fill out the form below to create an account.</p>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                </div>
            </div>
        </main>
    </div>
{% endblock %}
