{% extends 'base.html.twig' %}

{% block title %}
{{ category.name }}
{% endblock %}

{% block body %}
    <h1 class="titre-haut text-center text-white mb-5 text-uppercase">{{ category.name }}</h1>

    <div class="container mt-5">
        <div class="row">
            {% for article in category.articles %}
                <div class="col-md-4 mb-4"> <!-- Ajoutez la classe "col-md-4" pour la mise en page côte à côte -->
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ article.name }}</h5>
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-secondary">Voir l'article</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
