.body-classic {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px;
}

.footer {
    background-color: #132C5C;
    box-shadow: -0.5px -0.5rem 1rem 2px;
}


