<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Balises SEO -->
    <meta name="description" content="Ligne bleue, une application pour apprendre">
    <meta name="keywords" content="Apprendre Ligne Bleue Technologies">


    <title>
        {% block title %}Blog
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body class="body-classic min-vh-100 d-flex flex-column justify-content-center">

<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>
