{# templates/article/show_articles.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <h1>{{ article.name }}</h1>

    <ul>
        {% for article in category.articles %}
            <li>
            
            {% if article.poster %}
        <img src="{{ asset('uploads/images/posters/' ~ article.poster) }}" alt="Photo de l'article">
    {% endif %}

                <p>{{ article.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
